<%- include("partials/header.ejs") %>


  <style>
    .copyright {
      color: white;
    }

    .grp-1 {
      display: flex;
      width: 1200px;
      background-color: transparent;
      color: white;
      height: 195px;
      border-radius: 15px;
      border: 2.5px solid rgb(158, 133, 165);
    }
    /* .grp-1:hover{
      background-color:  rgb(161, 103, 37);
      border: 2px solid white;
    } */

    .par-grp1 {
      display: flex;
      margin: 28px -18px;
      padding: 29px 18px;
    }

    .circular-section {
      height: 192px;
    width: 367px;
      position: relative;
      border-radius: 20%;

      &>img {
        height: 100%;
        width: 100%;
        border-radius: 35%;
      }
    }

    .space-provider{
      width: 100px;
    }
    h1{
      color: white;
    }
    h3{
      color: white;
    }
  </style>
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="style/body.css">
  <h1>About Our Team</h1>

  <h3>Yash Nayak</h3>
  <div class="par-grp1">
    <div class="grp-1">
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officiis ipsum sint, at laborum expedita
        optio necessitatibus voluptates sequi ad quos perspiciatis repellendus, molestias ab, quaerat in voluptatibus
        dolorum voluptas.</p>

    </div>
    <div class="space-provider"></div>
    <div class="circular-section">
      <img src="/images/myImage.jpg" alt="loading the image">
    </div>
  </div>
  <h3>Yash Nayak</h3>
  <div class="par-grp1">
    <div class="circular-section">
      <img src="/images/myImage.jpg" alt="loading the image">
    </div>
    <div class="space-provider"></div>
    <div class="grp-1">
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officiis ipsum sint, at laborum expedita
        optio necessitatibus voluptates sequi ad quos perspiciatis repellendus, molestias ab, quaerat in voluptatibus
        dolorum voluptas.</p>

    </div>
    
  </div>
  <h3>Yash Nayak</h3>
  <div class="par-grp1">
    <div class="grp-1">
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officiis ipsum sint, at laborum expedita
        optio necessitatibus voluptates sequi ad quos perspiciatis repellendus, molestias ab, quaerat in voluptatibus
        dolorum voluptas.</p>

    </div>
    <div class="space-provider"></div>
    <div class="circular-section">
      <img src="/images/myImage.jpg" alt="loading the image">
    </div>
  </div>
  <h3>Yash Nayak</h3>
  <div class="par-grp1">
    <div class="circular-section">
      <img src="/images/myImage.jpg" alt="loading the image">
    </div>
    <div class="space-provider"></div>
    <div class="grp-1">
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officiis ipsum sint, at laborum expedita
        optio necessitatibus voluptates sequi ad quos perspiciatis repellendus, molestias ab, quaerat in voluptatibus
        dolorum voluptas.</p>

    </div>
 
  </div>
  <!-- 
  Description: [Brief overview of the project, technologies used, and your role]
  GitHub Link: [Provide a link to the GitHub repository]
  Project 2: [Project Name]
  
  Description: [Brief overview of the project, technologies used, and your role]
  GitHub Link: [Provide a link to the GitHub repository].</p> --> -->
  <footer>

    <ul class="social_icon">
      <li><a href="">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li><a href="https://github.com/Nayakyash005"><img src="https://github.com/fluidicon.png" class="github"
            alt="GitHub Logo" width="50" height="50"></a></li>
      <li><a href="#" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li><a href="https://www.instagram.com/yash_nayak005/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>

    <ul class="menu">
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="team">Team</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <p class="copyright"> Made with ❤️ in India.</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>

  </html>