<%- include("partials/header.ejs") %>
  <style>
    .card-section {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .sec1{
      display: flex;
      margin: 25px 25px;
      justify-content: center;
      align-items: center;
    }

    .card-1 {
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    width: 338px;
    height: 197px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 25px;
    padding: auto;
    background-color: transparent;
    color: white;
    }
    .card-2 {
      align-items: center;
      text-align: center;
      justify-content: center;
      position: relative;
    width: 338px;
    height: 197px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 25px;
    padding: auto;
    background-color: transparent;
    color: white;
    }
    .card-3 {
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    width: 338px;
    height: 197px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 25px;
    padding: auto;
    background-color: transparent;
    color: white;
    }
    .card-4 {
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    width: 338px;
    height: 197px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 25px;
    padding: auto;
    background-color: transparent;
    color: white;
    }

    .card-5 {
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    width: 338px;
    height: 197px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 25px;
    padding: auto;
    background-color: transparent;
    color: white;
    }

    .card-1:hover{
      background-image: url("/images/new4.avif");
  background-position: center;
  background-size: cover;
    }
    .card-1:hover .button {
      opacity: 1;
      transform: translatex(0);
  
    }
    .card-4:hover{
      background-image: url("/images/festival.avif");
  background-position: center;
  background-size: cover;

    }
    .card-4:hover .button {
      opacity: 1;
      transform: translateY(0);
  
    }
    .card-2:hover{
      background-image: url("/images/concerts.avif");
  background-position: center;
  background-size: cover;
    }
    .card-2:hover .button {
      opacity: 1;
      transform: translateY(0);
  
    }
    .card-3:hover{
      background-image: url("/images/bg1.png");
  background-position: center;
  background-size: cover;
    }
    .card-3:hover .button {
      opacity: 1;
      transform: translateY(0);
  
    }

    .card-5:hover{
      background-image: url("/images/art.avif");
  background-position: center;
  background-size: cover;
    }
    .card-5:hover .button {
      opacity: 1;
      transform: translateY(0);
  
    }

    .button {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #cddce6;
      color: #36434b;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  h1{
    color: white;
  }

  .bg-new{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.5);
  }
  
.dropbtn {
  background-color:green;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.dropdown {
position:absolute ;
top:62px;
left:0px;


  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 2px solid white;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  z-index: 1;
}

/* .dropdown-content a  {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */


.dropdown-content a:hover {background-color:gray;}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.shiva{
  padding: 12px 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.shiva:hover{
  color: white;
  background-color: #36434b;
  scale: 1.2;
  border-radius: 11px;

}
  </style>
  <link rel="stylesheet" href="styles/content.css">

  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/phone.css">
  
  <h1>NAAM NAHI PATA</h1>
   <img src="/images/new3.avif" class="bg-new" alt="">
  <div class="home-page">
    <div class="dropdown">
      <button class="dropbtn">Select Your City</button>
      <div class="dropdown-content">
        
        <a href="#"> <button class="shiva">katmanduuu</button></a>

        <a href="#"> <button class="shiva">bhubaneshwar</button></a>
      
        <a href="#"> <button class="shiva">hgdqgdy</button></a>
        <a href="#"> <button class="shiva">gaUKdgsa</button></a>
        <a href="#"> <button class="shiva">gaUKdgsa</button></a>
        <a href="#"> <button class="shiva">gaUKdgsa</button></a>
        <a href="#"> <button class="shiva">gaUKdgsa</button></a>
        <a href="#"> <button class="shiva">gaUKdgsa</button></a>
        
      </div>
    </div>
    <div class="card-section">
      <div class="sec1">
        <div class="card-1">
          <h2>tecH-Events:</h2>
          <p> clicl here to get the list of all Hackathon that is going on in your city</p>
          <form action="/hackathon" method="get">
          <button class="button">Click me</button>
        </form>
        </div>
        <div class="card-2">
          <h2>Concerts:</h2>
          <p> clicl here to get the list of all Concerts that is going on in your city</p>
          <form action="/concerts" method="get">
            <button class="button">Click me</button>
          </form>
        </div>
      </div>
      <div class="sec1">
        <div class="card-3">
          <h2>Sport-Events:</h2>
          <p> clicl here to get the list of all sports event that is going on in your city</p>
          <form action="/sports" method="get">
            <button class="button">Click me</button>
          </form>
        </div>
        <div class="card-4">
          <h2>festivals:</h2>
          <p> clicl here to get the list of all sports event that is going on in your city</p>
          <form action="/festivals" method="get">
            <button class="button">Click me</button>
          </form>
        </div>
        <div class="card-5">
          <h2>Art Festivals :</h2>
          <p> clicl here to get the list of all sports event that is going on in your city</p>
          <form action="/performing-arts" method="get">
            <button class="button">Click me</button>
          </form>
        </div>
        <div class="card-4">
          <h2>Conferences:</h2>
          <p> clicl here to get the list of all art event that is going on in your city</p>
          
          <form action="/conferences" method="get">
            <button class="button">Click me</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>